.fa-apple {
    background-color: rgb(179, 255, 0);
    display: inline-block;
  
 }
@font-face{
    font-family: Arial, Helvetica, sans-serif;
    src: url(https://fonts.gstatic.com/s/dynapuff/v1/z7N5dRvsZDIVHbYPMhZJ3HQ83UaSu4uhr7-ZFeoYkgAr1x8RSyQu2YLhSCs4.woff);

 }
h1{
    font-size: xx-large; 
    color: rgb(206, 23, 20);
    text-align: center;
    letter-spacing: 10px;
    text-shadow: 3px 4px rgb(227, 227, 64);
    font-family: "nuevaLetra";
    text-decoration: underline rgb(12, 195, 39);
 }
span{
    background-color: blueviolet;
    border: 1px solid;
    display: inline block;
}
*{
    background-color: rgb(114, 225, 162);
}
h2{
    color: rgb(0, 195, 255);
    background-color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    color: blue;
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    color: black;
    font-style: italic;
    font-size: 130%;
}
h4{
    margin-left: 50px;
    color: yellowgreen;
    background-color: olivedrab;
}
div{
    margin: left 100px;
    text-align: center;
    color: white;
    background-color: violet;
}
.iconos{
    margin-top: 0px;
    margin-left: 150px;
} 
.fa-facebook {
    color: rgb(59, 91, 152);
  }
.fa-twitter{
    color: aqua;
}
.fa-instagram{
    background: radial-gradient(#e03b1e, #f5e531);
}
.fa-linkedin{
    color:blue;
} 